.bodyOf {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1; /* Allow to grow on larger screens */
    margin: 10px; /* Increases spacing around */
}

.leftSide img {
    margin-bottom: 5px;
    width: 100%; /* Responsive image */
    max-width: 80px; /* Maximum size for the logo */
}

.leftSide p {
    margin: 0;
    padding: 0;
}

.leftSide h1 {
    font-weight: 1000;
    font-size: 2rem;
    margin: 0;
}

.servicesContainer {
    padding: 2rem;
    flex: 2; /* Give more space on larger screens */
    min-width: 300px; /* Minimum width for smaller screens */
}

.serviceList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.serviceItem {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem 0;
    font-size: 1rem;
    width: 100%; /* Full width for service items */
}

.icon {
    margin-right: 10px; /* Space between icon and service name */
    font-size: 1.5rem; /* Larger icon size */
}

.line {
    width: 2px;
    height: 20px;
    background-color: #ccc; /* Line color */
    position: absolute;
    left: 25px;
    top: 50%; /* Center the line vertically */
}

@media (max-width: 768px) {
    .leftSide {
        font-size: 1.5rem; /* Smaller font size on smaller screens */
    }

    .leftSide h1 {
        font-size: 1rem;
        text-align: center;/* Adjust heading size */
    }

    .servicesContainer {
        padding: 1rem; /* Reduce padding on smaller screens */
    }

    .serviceItem {
        font-size: 0.9rem; /* Slightly smaller text */
    }
}

@media (max-width: 480px) {
    .leftSide {
        margin: 5px; /* Reduce margins for smaller devices */
    }

    .icon {
        font-size: 1.2rem; /* Smaller icons on very small screens */
    }
}